<div class="col-3">
    <div class="card">
        <img src="https://via.placeholder.com/200x75.png/000000/ffffff?text={{name}}" class="card-img-top"
            alt="{{name}}">
        <div class="card-body">
            <div class="form-group">
                <form action="/plants/{{id}}/update" method="post">
                <textarea name="id" id="{{id}}" readonly cols="5" rows="1">{{id}}</textarea>
                <textarea name="name" id="{{name}}" cols="30" rows="1" placeholder="Plant Name">{{name}}</textarea>
                <textarea name="desc" id="{{desc}}" cols="30" rows="10"
                    placeholder="Description">{{desc}}</textarea>
                    <textarea name="misc" id={{misc}} cols="30" rows="10">{{misc}}</textarea>
                <button type="submit" class="btn btn-primary">Submit</button></form>
            </div>
        </div>
    </div>
</div>